---
// @ts-ignore
import { Icon } from "astro-icon/components";
import data from "../process.yaml";
import Link from "./ui/link.astro";
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Understand our process
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    We follow a proven process to ensure that your project is delivered on time
    and on budget. Our process is designed to help you define your needs,
    identify potential risks, and execute your project with precision and care.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    data.steps.map((item, i) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full p-1 w-8 h-8 shrink-0 text-white text-center align-middle font-bold">
          {i}
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.name}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>

<div class="mt-6 flex flex-col sm:flex-row gap-3">
  <Link
    href="/contact"
    class="flex gap-1 items-center justify-center"
    rel="noopener">
    <Icon class="text-white w-5 h-5" name="bx:rocket" />
    Start Now
  </Link>
  <Link
    size="lg"
    style="outline"
    href="/process"
    class="flex gap-1 items-center justify-center">
    <Icon class="text-black w-5 h-5" name="bx:book-open" />
    Learn More
  </Link>
</div>
