---
// @ts-ignore
import { Icon } from "astro-icon/components";

const icons = [
"amazonaws",
"astro",
"docker",
"express",
"github",
"googlecloud",
"jest",
"less",
"mailgun",
"nodedotjs",
"npm",
"openai",
"php",
"pnpm",
"preact",
"puppeteer",
"python",
"react",
"reactquery",
"reactrouter",
"render",
"sass",
"shopify",
"svelte",
"tailwindcss",
"typescript",
"vercel",
"vite",
"vitest",
"gatsby",
"netlify",
"cloudflare"
]
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">A few of the technologies in our toolbox</h2>
  <div class="flex gap-8 items-center justify-center mt-10 flex-wrap">
    {
      icons.sort((a,b) => {
        if (a < b) return -1;
        if (a > b) return 1;
        return 0;
      }).map(icon => (
        <Icon class="size-8" name={`simple-icons:${icon}`} />
      ))
    }
  </div>
</div>
